/solaris-v*/build
/.devcontainer/devcontainer.json
sdkconfig
sdkconfig.old
solaris-v1/sdkconfig
settings.json 
/solaris-v1/sdkconfig
.espidf/
*.cache*
launch.json
solaris-v1/components/icm_driver/drivers/*